.main {
    text-align: center;
    position: relative;
    min-height: calc(100vh - 35vh);
    display: flex;
    flex-direction: column;
}
.main::after {
    content: "";
    width: 51%;
    border-bottom: 50px solid rgba(182, 70, 5);
    position: absolute;
    bottom: 0px;
    border-left: 50px solid transparent;
    right: 0;
    box-sizing: border-box;
    text-decoration: solid;
    vertical-align: baseline;
}
.main::before {
    content: "";
    box-sizing: border-box;
    width: 51%;
    border-bottom: 50px solid rgb(182, 70, 5);
    position: absolute;
    bottom: 0px;
    border-right: 50px solid transparent;
    vertical-align: baseline;
    text-decoration: solid;
    left: 0;
}

.Home_Page_ul {
    margin-top: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    background-color: chocolate;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.hr {
    width: 85%;
    border: 1px solid black;
}

.li {
    word-wrap: break-word;
    list-style: none;
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.section_signin {
    border: 1px solid black;
    background-color: sienna;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 26px;
    font-weight: 700;
    margin-top: 5px;
    padding-bottom: 3px;

    display: flex;
    flex-direction: column;
}

.div_signin {
    
}

.span_signin {
    text-decoration: none;
    color: black;
    height: 30px;
}
.span_signin:hover {
    text-decoration: underline;
}

.pet_icon {
    padding-top: 10px;
    margin-left: 3px;
    font-size: 26px;
}
.div_student{
    height: 40px;
    display: inline-block;
}