.header {
    border-bottom: 1px solid rgb(134, 134, 134);
    background-color: rgb(135, 167, 194);
}

.Burger_main_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    width: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
.Burger_div {
    width: 90%;
    height: 2px;
    border: 1px solid black;
    background-color: rgb(59, 67, 73);
}

.nav_bar {
    display: flex;
    width: 100%;
    height: 33px;
}

.nav_bar_ul {
    display: none;
    /* width: 100%; */
    /* list-style: none; */
    /* padding: 0;
    margin: 0;
    box-sizing: content-box; */
}

.nav_bar_ul_li {
    margin: 5px 10px 5px 15px;
    padding-bottom: 2px;
    font-size: 18px;
    font-family: "Gugi", "Franklin Gothic Medium ", "Arial Narrow", Arial,
        sans-serif;
}

@media only screen and (min-width: 450px) {
    .Burger_main_div {
        display: none;
    }
    .nav_bar_ul {
        width: 100%;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        box-sizing: content-box;
    }
}
