.nav_sidebar {
    /* border: 2px solid black; */
}

.ul_sidebar {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0 0;
    width: 170px;
    text-align: center;
    font-size: 28px;
    font-family: "Lacquer", sans-serif;
    z-index: 3;
}

.ul_li {
    height: 50px;
}

.ul_link {
    padding-top: 7px;
    display: inline-block;
    color: black;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.ul_link:hover {    
    background-color: black;
    color: rgb(216, 101, 34);
}

.aside_sidebar {
    position: absolute;
    box-sizing: border-box;
    background-color: rgb(216, 101, 34);
    border: 1px solid black;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
}

.Open {
    transition: transform 0.3s ease-out;
    transform: translateX(0);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.7);
}

.Close {
    transform: translateX(-100%);
    transition: transform 0.2s ease-out;
}
